In [1]:
#Inporting Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
%matplotlib inline

In [2]:
#Train-Test Split Module
from sklearn.model_selection import train_test_split
#Linear Regression Algorithm from sklearn
from sklearn import linear_model
#Metrics to measure model performance
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
#Standard Scaler for Standardization
from sklearn.preprocessing import StandardScaler
#warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Load the dataset
df1 = pd.read_csv("Day1_Testing.csv", index_col=0)
#Display the dataset
df1

,Device ID,Channel,Sensor Name,Sensor ID,Data Type,Unit,Value
Timestamp,,,,,,,
2023-04-12T10:01:03.082Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,12,Humidity / C12,fd37beb0-d69a-11ed-8485-5b7d3ef089d0,NaN,NaN,71.000
2023-04-12T10:01:02.053Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,11,Temperature / C11,a2b2ea30-c585-11ed-b0e7-e768b61d6137,temp,c,28.400
2023-04-12T10:01:01.061Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,10,Power / C10,6b57c5b0-d69c-11ed-8485-5b7d3ef089d0,NaN,NaN,0.013
2023-04-12T10:00:59.905Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,5,LDR B-R / C5,a1e40170-c585-11ed-b0e7-e768b61d6137,NaN,NaN,19.000
2023-04-12T10:00:58.843Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,4,LDR B-L / C4,a193be90-c585-11ed-b0e7-e768b61d6137,NaN,NaN,13.000
...,...,...,...,...,...,...,...
2023-04-12T09:01:09.665Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,10,Power / C10,6b57c5b0-d69c-11ed-8485-5b7d3ef089d0,NaN,NaN,0.059
2023-04-12T09:01:08.617Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,5,LDR B-R / C5,a1e40170-c585-11ed-b0e7-e768b61d6137,NaN,NaN,84.000
2023-04-12T09:01:07.578Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,4,LDR B-L / C4,a193be90-c585-11ed-b0e7-e768b61d6137,NaN,NaN,58.000
2023-04-12T09:01:06.356Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,3,LDR T-L / C3,a0c8f480-c585-11ed-b0e7-e768b61d6137,NaN,NaN,54.000
2023-04-12T09:01:05.197Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,2,LDR T-R / C2,9f92e580-c585-11ed-b0e7-e768b61d6137,NaN,NaN,70.000

In [4]:
#Load the dataset
df2 = pd.read_csv("Day2_Testing.csv", index_col=0)
#Display the dataset
df2

,Device ID,Channel,Sensor Name,Sensor ID,Data Type,Unit,Value
Timestamp,,,,,,,
2023-04-13T10:01:56.353Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,13,Voltage Sensor / C13,71467e40-d53d-11ed-9ab8-d511caccfe8c,voltage,v,0.132
2023-04-13T10:01:55.985Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,12,Humidity / C12,fd37beb0-d69a-11ed-8485-5b7d3ef089d0,NaN,NaN,25.500
2023-04-13T10:01:55.687Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,11,Temperature / C11,a2b2ea30-c585-11ed-b0e7-e768b61d6137,temp,c,25.500
2023-04-13T10:01:55.219Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,10,Power / C10,6b57c5b0-d69c-11ed-8485-5b7d3ef089d0,NaN,NaN,0.001
2023-04-13T10:01:54.874Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,5,LDR B-R / C5,a1e40170-c585-11ed-b0e7-e768b61d6137,NaN,NaN,9.000
...,...,...,...,...,...,...,...
2023-04-13T09:02:33.235Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,4,LDR B-L / C4,a193be90-c585-11ed-b0e7-e768b61d6137,NaN,NaN,17.000
2023-04-13T09:02:32.846Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,3,LDR T-L / C3,a0c8f480-c585-11ed-b0e7-e768b61d6137,NaN,NaN,20.000
2023-04-13T09:02:32.487Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,2,LDR T-R / C2,9f92e580-c585-11ed-b0e7-e768b61d6137,NaN,NaN,23.000
2023-04-13T09:02:32.118Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,0,Current / C0,f508e830-d69b-11ed-8485-5b7d3ef089d0,NaN,NaN,0.039
2023-04-13T09:02:20.033Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,13,Voltage Sensor / C13,71467e40-d53d-11ed-9ab8-d511caccfe8c,voltage,v,0.489

In [34]:
#Merging datasets for solar testing only
dfsolar = pd.merge(df1, df2)
dfsolar.dtypes

Device ID       object
Channel          int64
Sensor Name     object
Sensor ID       object
Data Type       object
Unit            object
Value          float64
dtype: object

In [51]:
dfsolar

,Device ID,Channel,Sensor Name,Sensor ID,Data Type,Unit,Value
0,a53f41c0-c582-11ed-b0e7-e768b61d6137,10,Power / C10,6b57c5b0-d69c-11ed-8485-5b7d3ef089d0,NaN,NaN,0.013
1,a53f41c0-c582-11ed-b0e7-e768b61d6137,10,Power / C10,6b57c5b0-d69c-11ed-8485-5b7d3ef089d0,NaN,NaN,0.013
2,a53f41c0-c582-11ed-b0e7-e768b61d6137,10,Power / C10,6b57c5b0-d69c-11ed-8485-5b7d3ef089d0,NaN,NaN,0.013
3,a53f41c0-c582-11ed-b0e7-e768b61d6137,10,Power / C10,6b57c5b0-d69c-11ed-8485-5b7d3ef089d0,NaN,NaN,0.013
4,a53f41c0-c582-11ed-b0e7-e768b61d6137,10,Power / C10,6b57c5b0-d69c-11ed-8485-5b7d3ef089d0,NaN,NaN,0.013
...,...,...,...,...,...,...,...
23098,a53f41c0-c582-11ed-b0e7-e768b61d6137,3,LDR T-L / C3,a0c8f480-c585-11ed-b0e7-e768b61d6137,NaN,NaN,20.000
23099,a53f41c0-c582-11ed-b0e7-e768b61d6137,3,LDR T-L / C3,a0c8f480-c585-11ed-b0e7-e768b61d6137,NaN,NaN,20.000
23100,a53f41c0-c582-11ed-b0e7-e768b61d6137,3,LDR T-L / C3,a0c8f480-c585-11ed-b0e7-e768b61d6137,NaN,NaN,20.000
23101,a53f41c0-c582-11ed-b0e7-e768b61d6137,3,LDR T-L / C3,a0c8f480-c585-11ed-b0e7-e768b61d6137,NaN,NaN,20.000
23102,a53f41c0-c582-11ed-b0e7-e768b61d6137,3,LDR T-L / C3,a0c8f480-c585-11ed-b0e7-e768b61d6137,NaN,NaN,20.000

Warning: total number of rows (23103) exceeds max_rows (20000). Limiting to first (20000) rows.

In [7]:
#Load the dataset
df3 = pd.read_csv("Day3_Testing.csv", index_col=0)
#Display the dataset
df3

,Device ID,Channel,Sensor Name,Sensor ID,Data Type,Unit,Value
Timestamp,,,,,,,
2023-04-14T10:00:59.012Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,16,Piezo Power / C16,2f9496d0-d9f7-11ed-9ab8-d511caccfe8c,NaN,NaN,NaN
2023-04-14T10:00:58.546Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,15,Piezo Current / C15,4132ef40-d9f7-11ed-9ab8-d511caccfe8c,NaN,NaN,0.010
2023-04-14T10:00:58.182Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,14,Piezo Voltage / C14,902e1790-d9f8-11ed-8485-5b7d3ef089d0,voltage,v,0.049
2023-04-14T10:00:57.797Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,13,Voltage Sensor / C13,71467e40-d53d-11ed-9ab8-d511caccfe8c,voltage,v,0.323
2023-04-14T10:00:57.425Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,12,Humidity / C12,fd37beb0-d69a-11ed-8485-5b7d3ef089d0,NaN,NaN,25.500
...,...,...,...,...,...,...,...
2023-04-14T09:01:18.889Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,5,LDR T-R / C5,a1e40170-c585-11ed-b0e7-e768b61d6137,NaN,NaN,154.000
2023-04-14T09:01:18.483Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,4,LDR T-L / C4,a193be90-c585-11ed-b0e7-e768b61d6137,NaN,NaN,161.000
2023-04-14T09:01:18.101Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,3,LDR B-L / C3,a0c8f480-c585-11ed-b0e7-e768b61d6137,NaN,NaN,123.000
2023-04-14T09:01:17.708Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,2,LDR B-R / C2,9f92e580-c585-11ed-b0e7-e768b61d6137,NaN,NaN,140.000
2023-04-14T09:01:17.356Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,0,Current / C0,f508e830-d69b-11ed-8485-5b7d3ef089d0,NaN,NaN,0.070

In [8]:
#Load the dataset
df4 = pd.read_csv("Day4_Testing.csv", index_col=0)
#Display the dataset
df4

,Device ID,Channel,Sensor Name,Sensor ID,Data Type,Unit,Value
Timestamp,,,,,,,
2023-04-15T10:01:48.036Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,16,Piezo Power / C16,2f9496d0-d9f7-11ed-9ab8-d511caccfe8c,NaN,NaN,NaN
2023-04-15T10:01:47.632Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,15,Piezo Current / C15,17491270-db43-11ed-9ab8-d511caccfe8c,NaN,NaN,0.008
2023-04-15T10:01:47.271Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,14,Piezo Voltage / C14,4ff37340-db43-11ed-9ab8-d511caccfe8c,voltage,v,0.039
2023-04-15T10:01:46.463Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,12,Humidity / C12,fd37beb0-d69a-11ed-8485-5b7d3ef089d0,NaN,NaN,25.500
2023-04-15T10:01:45.669Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,10,Power / C10,6b57c5b0-d69c-11ed-8485-5b7d3ef089d0,NaN,NaN,0.033
...,...,...,...,...,...,...,...
2023-04-15T09:02:02.538Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,10,Power / C10,6b57c5b0-d69c-11ed-8485-5b7d3ef089d0,NaN,NaN,0.088
2023-04-15T09:02:00.917Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,3,LDR B-L / C3,83cf1fe0-db41-11ed-8485-5b7d3ef089d0,NaN,NaN,116.000
2023-04-15T09:02:00.374Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,2,LDR B-R / C2,302fce70-db41-11ed-8485-5b7d3ef089d0,NaN,NaN,179.000
2023-04-15T09:02:00.003Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,0,Current / C0,f508e830-d69b-11ed-8485-5b7d3ef089d0,NaN,NaN,0.084
2023-04-15T09:01:58.927Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,8,Mode Switch / C8,d4c99170-d69e-11ed-8485-5b7d3ef089d0,NaN,NaN,NaN

In [46]:
#Load the dataset
df5 = pd.read_csv("Day5_Testing.csv", index_col=0)
#Display the dataset
df5

,Device ID,Channel,Sensor Name,Sensor ID,Data Type,Unit,Value
Timestamp,,,,,,,
2023-04-16T10:00:40.630Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,16,Piezo Power / C16,2f9496d0-d9f7-11ed-9ab8-d511caccfe8c,NaN,NaN,0.010000
2023-04-16T10:00:40.234Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,15,Piezo Current / C15,17491270-db43-11ed-9ab8-d511caccfe8c,NaN,NaN,0.044000
2023-04-16T10:00:39.861Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,14,Piezo Voltage / C14,bbb8f650-dc32-11ed-8485-5b7d3ef089d0,voltage,v,0.220000
2023-04-16T10:00:39.517Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,13,Voltage Sensor / C13,b7dccc60-dc18-11ed-8485-5b7d3ef089d0,voltage,v,0.880000
2023-04-16T10:00:39.112Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,12,Humidity / C12,fd37beb0-d69a-11ed-8485-5b7d3ef089d0,NaN,NaN,66.400002
...,...,...,...,...,...,...,...
2023-04-16T09:00:54.767Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,12,Humidity / C12,fd37beb0-d69a-11ed-8485-5b7d3ef089d0,NaN,NaN,54.700001
2023-04-16T09:00:54.417Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,11,Temperature / C11,31413930-dc17-11ed-8485-5b7d3ef089d0,temp,c,34.700001
2023-04-16T09:00:54.063Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,10,Power / C10,206e3520-dc19-11ed-8485-5b7d3ef089d0,NaN,NaN,0.151000
2023-04-16T09:00:53.022Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,3,LDR B-L / C3,51489dc0-dc19-11ed-8485-5b7d3ef089d0,NaN,NaN,158.000000
2023-04-16T09:00:52.349Z,a53f41c0-c582-11ed-b0e7-e768b61d6137,0,Current / C0,8d7ca1e0-dc16-11ed-9ab8-d511caccfe8c,NaN,NaN,0.110000

In [47]:
#Merging datasets for hybrid testing
df6 = pd.merge(df3,df4)
dfhybrid = pd.merge(df6,df5)
dfhybrid.dtypes

Device ID       object
Channel          int64
Sensor Name     object
Sensor ID       object
Data Type       object
Unit            object
Value          float64
dtype: object

In [48]:
dfhybrid

,Device ID,Channel,Sensor Name,Sensor ID,Data Type,Unit,Value
0,a53f41c0-c582-11ed-b0e7-e768b61d6137,12,Humidity / C12,fd37beb0-d69a-11ed-8485-5b7d3ef089d0,NaN,NaN,25.500
1,a53f41c0-c582-11ed-b0e7-e768b61d6137,12,Humidity / C12,fd37beb0-d69a-11ed-8485-5b7d3ef089d0,NaN,NaN,25.500
2,a53f41c0-c582-11ed-b0e7-e768b61d6137,12,Humidity / C12,fd37beb0-d69a-11ed-8485-5b7d3ef089d0,NaN,NaN,25.500
3,a53f41c0-c582-11ed-b0e7-e768b61d6137,12,Humidity / C12,fd37beb0-d69a-11ed-8485-5b7d3ef089d0,NaN,NaN,25.500
4,a53f41c0-c582-11ed-b0e7-e768b61d6137,12,Humidity / C12,fd37beb0-d69a-11ed-8485-5b7d3ef089d0,NaN,NaN,25.500
...,...,...,...,...,...,...,...
811129,a53f41c0-c582-11ed-b0e7-e768b61d6137,16,Piezo Power / C16,2f9496d0-d9f7-11ed-9ab8-d511caccfe8c,NaN,NaN,0.003
811130,a53f41c0-c582-11ed-b0e7-e768b61d6137,16,Piezo Power / C16,2f9496d0-d9f7-11ed-9ab8-d511caccfe8c,NaN,NaN,0.003
811131,a53f41c0-c582-11ed-b0e7-e768b61d6137,16,Piezo Power / C16,2f9496d0-d9f7-11ed-9ab8-d511caccfe8c,NaN,NaN,0.003
811132,a53f41c0-c582-11ed-b0e7-e768b61d6137,16,Piezo Power / C16,2f9496d0-d9f7-11ed-9ab8-d511caccfe8c,NaN,NaN,0.003
811133,a53f41c0-c582-11ed-b0e7-e768b61d6137,16,Piezo Power / C16,2f9496d0-d9f7-11ed-9ab8-d511caccfe8c,NaN,NaN,0.003

In [49]:
#Data preprocessing
dfsolar1 = dfsolar.drop(['Device ID','Channel','Sensor ID','Data Type','Unit'], axis=1)

#Check for remaining values
dfsolar1

        Sensor Name   Value
0       Power / C10   0.013
1       Power / C10   0.013
2       Power / C10   0.013
3       Power / C10   0.013
4       Power / C10   0.013
...             ...     ...
23098  LDR T-L / C3  20.000
23099  LDR T-L / C3  20.000
23100  LDR T-L / C3  20.000
23101  LDR T-L / C3  20.000
23102  LDR T-L / C3  20.000

[23103 rows x 2 columns]

In [50]:
#Data preprocessing
dfhybrid1 = dfhybrid.drop(['Device ID','Channel','Sensor ID','Data Type','Unit'], axis=1)

#Check for remaining values
dfhybrid1

              Sensor Name   Value
0          Humidity / C12  25.500
1          Humidity / C12  25.500
2          Humidity / C12  25.500
3          Humidity / C12  25.500
4          Humidity / C12  25.500
...                   ...     ...
811129  Piezo Power / C16   0.003
811130  Piezo Power / C16   0.003
811131  Piezo Power / C16   0.003
811132  Piezo Power / C16   0.003
811133  Piezo Power / C16   0.003

[811134 rows x 2 columns]

Warning: total number of rows (811134) exceeds max_rows (20000). Limiting to first (20000) rows.